<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.mapper.AuthMapper">
	<resultMap id="authMap"
		type="com.example.backend.dto.AuthDto">
		<result property="authSeq" column="auth_seq"
			javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result property="authCode" column="auth_code"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="authName" column="auth_name"
			javaType="java.lang.String" jdbcType="VARCHAR" />
			<result property="companySeq" column="company_seq"
			javaType="java.lang.Integer" jdbcType="INTEGER" />
	</resultMap>
	
	<select id="getBySeq" parameterType="int"
		resultMap="authMap">
		select * from
		auth where auth_seq = #{authSeq}
	</select>

	<select id="getList"
		parameterType="com.example.backend.dto.AuthDto"
		resultMap="authMap">
		select * from
		auth
		<where>
			<if test="authSeq != null and authSeq !=''">
				AND auth_seq = #{authSeq}
			</if>
			<if test="authCode != null and authCode !=''">
				And auth_code = #{authCode}
			</if>
				<if test="authName != null and authName !=''">
				And auth_name = #{authName}
			</if>
		</where>
	</select>

	<delete id="remove" parameterType="int">
		delete from auth where
		auth_seq = #{authSeq}
	</delete>

	<insert id="add" parameterType="map">
		insert into
		auth(auth_code, auth_name) values(#{authCode}, #{authName})
	</insert>

	<update id="set">
		update auth set auth_code = #{authCode},
		auth_name = #{authName}
		where auth_seq = #{authSeq}
	</update>

</mapper> 