<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.mapper.AuthMenuMapper">
	<resultMap id="authMenuMap"
		type="com.example.backend.dto.mapping.AuthMenuDto">
		<result property="authSeq" column="auth_seq"
			javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result property="menuSeq" column="menu_seq"
			javaType="java.lang.Integer" jdbcType="INTEGER" />
	</resultMap>

	<select id="getList" parameterType="INTEGER"
		resultMap="authMenuMap">
		select distinct * from auth_menu where
		<if test="authSeq != 0 and authSeq !=''">
			auth_seq = #{authSeq}
		</if>
	</select>

	<insert id="add" parameterType="java.util.List">
		INSERT INTO auth_menu(auth_seq, menu_seq) VALUES
		<foreach collection="list" item="item" separator=",">
			(#{item.authSeq},#{item.menuSeq})
		</foreach>
	</insert>

	<delete id="remove" parameterType="java.util.List">
		DELETE FROM auth_menu WHERE
		<foreach collection="list" item="item" open="" close=""
			separator="OR">
			(
			auth_seq = #{item.authSeq}
			and
			menu_seq =
			#{item.menuSeq}
			)
		</foreach>
	</delete>
</mapper> 