<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<!-- <mapper namespace = "com.example.backend.mapper.CompanyMapper"> -->
	<mapper namespace = "com.example.backend.mapper.companymapper">
	<!-- <resultMap type = "com.example.backend.dto.CompanyDto" id = "dto">
		<result column = "company_code" property = "companyCode"
		javaType="java.lang.Integer" jdbcType="INTEGER"/>
		<result column = "company_accountant" property="companyAccountant"
		javaType="java.lang.Integer" jdbcType="INTEGER"/>
		<result column = "company_name" property= "companyName"
		javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result column = "company_abbreviation" property = "companyAbbreviation"
		javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result column = "company_item" property="companyItem"
		javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result column = "company_busniess" property= "companyBusniess"
		javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result column = "company_pageaddress" property = "companyPageaddress"
		javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result column = "company_startdate" property = "companyStartdate"
		javaType="java.sql.Date" />
		<result column = "company_opening" property = "companyOpening"
		javaType="java.sql.Date"/>
		<result column = "company_close" property = "companyClose"
		javaType="java.sql.Date"/>
		<result column = "company_idcategory" property = "companyIdcategory"
		javaType="java.lang.String" jdbcType="VARCHAR"/>	
	</resultMap> -->
	
	<select id = "getallCompanyInfo" resultType = "com.example.backend.dto.CompanyDTO">
		SELECT * FROM company1
	</select>
	
	<select id = "getCompanyInfo" resultType = "com.example.backend.dto.CompanyDTO" parameterType = "int">
		SELECT * FROM company1
		<where>
			<if test = "#{companySeq} != null || #{companySeq} != 0">
				company_seq = #{companySeq}
			</if>
		</where>
	</select>
	
	<insert id = "insertCompanyInfo" parameterType = "com.example.backend.dto.CompanyDTO">
		INSERT INTO company1 VALUES(#{companyCode}, #{companyName}, #{companyBusiness}, #{companyItem}, #{companyCall}, #{companyRegist}, #{companyCorporate}, #{companyPresident}, #{companyHomepage},
		#{companyAddr}, #{companyEstablish}, #{companyClosingday}, true);
	</insert>
	
	<update id = "updateCompany" parameterType = "com.example.backend.dto.CompanyDTO">
		update company1 set company_code = #{companyCode},company_name = #{companyName} ,company_business = #{companyBusiness}, 
		company_item = #{companyItem}, company_call = #{companyCall}, company_regist = #{companyRegist}, 
		company_corporate = #{companyCorporate}, company_homepage = #{companyHomepage}, 
		company_addr = #{companyAddr}, company_establish =#{companyEstablish}, company_closingday = #{companyClosingday},
		flag = #{companyFlag}
		where company_seq = #{companySeq} 
	</update>
	
	<delete id = "DeleteCompany" parameterType = "int">
	 delete from company1 where company_seq = #{companySeq}
	</delete>
	</mapper>