<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<!-- <mapper namespace = "com.example.backend.mapper.CompanyMapper"> -->
	<mapper namespace = "com.example.backend.mapper.companymapper">
	<resultMap type = "com.example.backend.dto.CompanyDTO" id = "dto">
		<result column = "company_seq" property = "companySeq"/>
		<result column = "company_code" property = "companyCode"/>
		<result column = "company_name" property= "companyName"/>
		<result column = "company_business" property= "companyBusiness"/>
		<result column = "company_item" property="companyItem"/>
		<result column = "company_call" property= "companyCall"/>
		<result column = "company_regist" property = "companyRegist"/>
		<result column = "company_corporate" property="companyCorporate"/>
		<result column = "company_president" property = "companyPresident"/>
		<result column = "company_homepage" property= "companyHomepage"/>
		<result column = "company_addr" property="companyAddr"/>
		<result column = "company_establish" property= "companyEstablish"/>
		<result column = "company_closingday" property="companyClosingday"/>
		<result column = "company_flag" property= "companyflag"/>
	</resultMap>
	
	<select id = "getallCompanyInfo" resultMap = "dto">
		SELECT * FROM company1
	</select>
	
	<select id = "getCompanyInfo" resultMap = "dto" parameterType = "int">
		SELECT * FROM company1
		<where>
			<if test = "#{companySeq} != null || #{companySeq} != 0">
				company_seq = #{companySeq}
			</if>
		</where>
	</select>
	
	<insert id = "insertCompanyInfo" parameterType = "com.example.backend.dto.CompanyDTO">
		INSERT INTO company1 VALUES(#{companySeq},#{companyCode}, #{companyName}, #{companyBusiness}, #{companyItem}, #{companyCall}, #{companyRegist}, #{companyCorporate}, #{companyPresident}, #{companyHomepage},
		#{companyAddr}, #{companyEstablish}, #{companyClosingday}, true);
	</insert>
	
	<update id = "updateCompany" parameterType = "com.example.backend.dto.CompanyDTO">
		update company1 set company_code = #{companyCode},company_name = #{companyName} ,company_business = #{companyBusiness}, 
		company_item = #{companyItem}, company_call = #{companyCall}, company_regist = #{companyRegist}, 
		company_corporate = #{companyCorporate}, company_homepage = #{companyHomepage}, 
		company_addr = #{companyAddr}, company_establish =#{companyEstablish}, company_closingday = #{companyClosingday},
		flag = #{companyFlag}
		where company_seq = #{companySeq} 
	</update>
	
	<delete id = "DeleteCompany" parameterType = "int">
	 delete from company1 where company_seq = #{companySeq}
	</delete>
	</mapper>