<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.example.backend.mapper.DepartmentEmployeeMapper">
	<resultMap id="departmentEmployeeMap"
		type="com.example.backend.dto.mapping.DepartmentEmployeeDto">
		<result property="employeeSeq" column="employee_seq"
			javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result property="workplaceSeq" column="workplace_seq"
			javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result property="departmentSeq" column="department_seq"
			javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result property="companySeq" column="company_seq"
			javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result property="subDepartmentSeq" column="sub_department_seq"
			javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result property="title" column="title"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="employeeName" column="employee_name"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="employeeId" column="employee_id"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="employeePh" column="employee_ph"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="employeePicture" column="employee_picture"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="employeeCall" column="employee_call"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="companyCode" column="company_code"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="workplaceName" column="workplace_name"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="companyName" column="company_name"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="departmentName" column="department_name"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="employeePmail" column="employee_pmail"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="employeeCmail" column="employee_cmail"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="employeeBirth" column="employee_birth"
			javaType="java.sql.Date" jdbcType="DATE" />
	</resultMap>

	<select id="getList"
		parameterType="com.example.backend.dto.mapping.DepartmentEmployeeDto"
		resultMap="departmentEmployeeMap">
		SELECT
		de.employee_seq,
		de.workplace_seq,de.department_seq,
		de.company_seq,
		de.sub_department_seq, de.title, e.employee_name,
		e.employee_id,
		e.employee_ph, e.employee_picture, e.employee_call,
		c.company_name,
		w.workplace_name, e.employee_birth, d.department_name
		FROM
		department_employee de
		join
		department d
		on
		de.department_seq =
		d.department_seq
		join
		employee e
		on
		de.employee_seq = e.employee_seq
		join
		company c
		on
		de.company_seq = c.company_seq
		join
		workplace w
		on
		de.workplace_seq = w.workplace_seq
		WHERE
		de.company_seq =
		#{companySeq}
		and
		de.workplace_seq = #{workplaceSeq}
		and de.department_seq =
		#{departmentSeq}
		ORDER BY workplace_seq
		ASC,
		department_seq ASC,
		employee_seq ASC
	</select>

	<select id="getListByDepartment"
		parameterType="com.example.backend.dto.mapping.DepartmentEmployeeDto"
		resultMap="departmentEmployeeMap">
		SELECT
		de.company_seq,de.workplace_seq,de.department_seq,de.employee_seq,title,w.workplace_name,d.department_name,
		c.company_name,e.employee_name,e.employee_pmail, e.employee_cmail,
		e.employee_id
		FROM
		department_employee de
		JOIN
		department d
		ON
		de.department_seq = d.department_seq
		JOIN
		employee e
		ON
		de.employee_seq =
		e.employee_seq
		JOIN
		company c
		ON
		de.company_seq = c.company_seq
		JOIN
		workplace w
		ON
		de.workplace_seq = w.workplace_seq
		WHERE
		de.department_seq
		= #{departmentSeq}
	</select>

	<select id="getEmployeeCount"
		parameterType="com.example.backend.dto.mapping.DepartmentEmployeeDto"
		resultType="int">
		SELECT DISTINCT
		COUNT(de.employee_seq)
		FROM
		department_employee de
		JOIN
		department d
		ON
		de.department_seq =
		d.department_seq
		JOIN
		employee e
		ON
		de.employee_seq =
		e.employee_seq
		JOIN
		company c
		ON
		de.company_seq = c.company_seq
		JOIN
		workplace w
		ON
		de.workplace_seq = w.workplace_seq
		WHERE
		de.department_seq
		=
		#{departmentSeq}
	</select>

</mapper> 