<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.mapper.DepartmentMapper">
	<resultMap id="departmentMap"
		type="com.example.backend.dto.DepartmentDto">
		<result property="departmentSeq" column="department_seq"
			javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result property="companySeq" column="company_seq"
			javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result property="workplaceSeq" column="workplace_seq"
			javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result property="departmentCode" column="department_code"
			javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result property="departmentName" column="department_name"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="departmentPresident"
			column="department_president" javaType="java.lang.Integer"
			jdbcType="INTEGER" />
		<result property="departmentCategory"
			column="department_category" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result property="departmentCall" column="department_call"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="departmentLoc" column="department_loc"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="departmentParent" column="department_parent"
			javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result property="useYN" column="use_yn"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="companyCode" column="company_code"
			javaType="java.lang.Integer" jdbcType="INTEGER"/>
		<result property="companyName" column = "company_name"
		 	javaType= "java.lang.String" jdbcType = "VARCHAR"/>
		<result property = "workplaceCode" column ="workplace_code"
			javaType ="java.lang.Integer" jdbcType = "INTEGER"/>
		<result property = "workplaceName" column = "workplace_name"
			javaType = "java.lang.String" jdbcType = "VARCHAR"/>

	</resultMap>
	<select id="GetDepartmentList" resultMap="departmentMap">
      SELECT c.company_seq, c.company_code, c.company_name,w.workplace_seq, w.workplace_code, w.workplace_name, d.department_seq ,d.department_code, d.department_name FROM 
		department d
		JOIN workplace w ON d.workplace_seq = w.workplace_seq
		JOIN company c ON c.company_seq = w.company_seq
	UNION
	SELECT c.company_seq, c.company_code, c.company_name,w.workplace_seq, w.workplace_code, w.workplace_name, d.department_seq, d.department_code, d.department_name from
		department d
		RIGHT JOIN workplace w ON d.workplace_seq = w.workplace_seq
		RIGHT JOIN company c ON c.company_seq = w.company_seq
      </select>

</mapper> 