<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.mapper.EmployeeMapper">
	<resultMap id="employeeMap"
		type="com.example.backend.dto.EmployeeDto">
		<result property="employeeSeq" column="employee_seq"
			javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result property="employeeId" column="employee_id"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="employeeName" column="employee_name"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="employeeBirth" column="employee_birth"
			javaType="java.sql.Date" jdbcType="DATE" />
		<result property="employeeJoin" column="employee_join"
			javaType="java.sql.Date" jdbcType="DATE" />
		<result property="employeeLeave" column="employee_leave"
			javaType="java.sql.Date" jdbcType="DATE" />
		<result property="employeeCall" column="employee_call"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="employeePwd" column="employee_pwd"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="employeePh" column="employee_ph"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="employeePmail" column="employee_pmail"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="employeeCmail" column="employee_cmail"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="employeeAddr" column="employee_addr"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="employeePicture" column="employee_picture"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="useYN" column="use_yn"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="employeeGender" column="employee_gender"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="employeeLanguage" column="employee_language"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="employeeHcall" column="employee_hcall"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="approvalPwd" column="approval_pwd"
			javaType="java.lang.String" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="getEmpList" resultMap="employeeMap">
		select * from employee
	</select>
	
	<select id="getBySeq" parameterType="Integer"
		resultMap="employeeMap">
		select * from
		employee where employee_seq = #{employeeSeq}
	</select>
	
	<select id="getLanguage" resultType="String">
		select distinct employee_language from employee
	</select>
	
	<insert id="insertEmp">
		insert into employee 
		(employee_id, employee_name, employee_birth, employee_call, employee_pwd,
		employee_ph, employee_pmail, employee_cmail, employee_addr, employee_picture, employee_join,
		use_yn, employee_gender, employee_language, employee_hcall, approval_pwd)
		VALUES
		(#{employeeId}, #{employeeName}, #{employeeBirth}, #{employeeCall}, #{employeePwd},
		#{employeePh}, #{employeePmail}, #{employeeCmail}, #{employeeAddr}, #{employeePicture}, #{employeeJoin},
		 #{useYN}, #{employeeGender}, #{employeeLanguage}, #{employeeHcall}, #{approvalPwd})
	</insert>
	
	<update id="updateEmp">
		update employee set 
		employee_id = #{employeeId}, employee_name = #{employeeName},
		employee_birth = #{employeeBirth}, employee_call = #{employeeCall}, employee_pwd = #{employeePwd}, employee_ph = #{employeePh},
		employee_pmail = #{employeePmail}, employee_cmail = #{employeeCmail}, employee_addr = #{employeeAddr}, employee_picture = #{employeePicture},
		use_yn = #{useYN}, employee_gender = #{employeeGender}, employee_join = #{employeeJoin}, employee_leave = #{employeeLeave},
		employee_language = #{employeeLanguage}, employee_hcall = #{employeeHcall}, approval_pwd = #{approvalPwd}
		where employee_seq = #{employeeSeq}
	</update>
	
	<delete id="deleteEmp" parameterType="Integer">
		delete from employee
		where employee_seq = #{employeeSeq}
	</delete>
	
	<select id="checkId" parameterType="String" resultMap="employeeMap">
		select * from employee where employee_id = #{employeeId}
	</select>
	
	<select id="checkCmail" parameterType="String" resultMap="employeeMap">
		select * from employee where employee_cmail = #{employeeCmail}
	</select>
</mapper>  