<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.mapper.MenuMapper">
	<resultMap id="menuMap"
		type="com.example.backend.dto.MenuDto">
		<result property="menuSeq" column="menu_seq"
			javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result property="menuCode" column="menu_code"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="menuName" column="menu_name"
			javaType="java.lang.String" jdbcType="VARCHAR" />
	</resultMap>

<select id="getBySeq" parameterType="int"
		resultMap="menuMap">
		select * from
		menu where menu_seq = #{menuSeq}
	</select>

	<select id="getList"
		parameterType="com.example.backend.dto.MenuDto"
		resultMap="menuMap">
		select * from
		menu
		<where>
			<if test="menuSeq != null and menuSeq !=''">
				AND menu_seq = #{menuSeq}
			</if>
			<if test="menuCode != null and menuCode !=''">
				And menu_code = #{menuCode}
			</if>
				<if test="menuName != null and menuName !=''">
				And menu_name = #{menuName}
			</if>
		</where>
	</select>

	<delete id="remove" parameterType="int">
		delete from menu where
		menu_seq = #{menuSeq}
	</delete>

	<insert id="add" parameterType="map">
		insert into
		menu(menu_code, menu_name) values(#{menuCode}, #{menuName})
	</insert>

	<update id="set">
		update menu set menu_code = #{menuCode},
		menu_name = #{menuName}
		where menu_seq = #{menuSeq}
	</update>


</mapper> 