<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.mapper.MenuTestMapper">

	<select id="getMenuList" resultType="com.example.backend.dto.MenuTestDto">
		select * from menu_test
	</select>
	
	<select id="getSubMenuList" parameterType="String" resultType="com.example.backend.dto.MenuTestDto">
		select * from menu_test where menu_parent = #{menuId}
	</select>
	
</mapper>